body {
  font-family: Arial, sans-serif;
  background-color: #eef5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 30px;
  width: 350px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

input {
  display: block;
  width: 90%;
  margin: 12px auto;
  padding: 10px;
}

button {
  padding: 10px 25px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
}
